
/* RESET */
	
	*{ margin:0; padding:0; }
	
	body, html{ 
		background:transparent;
		vertical-align:baseline;
		font-size:100%;
		font-family: Arial, Verdana, sans-serif;
	}
	
	h1{ font-size:26px; }
	h2{ font-size:20px; }
	h3{ font-size:16px; }
	h4{ font-size:14px; }
	h5{ font-size:12px; }
	h6{ font-size:10px; }
	
	fieldset{ border: none; }
	
	li{ list-style:none; }
	
	a{text-decoration:none; outline: none;}
	
	a:hover{ text-decoration:underline }
	
/* ESTILOS GENERALES */

body{ background: #fff url("images/body-bg.jpg") repeat-x; font-family: Arial, Verdana, sans-serif; font-size: 12px; }

p{ color: #666666; }

h2 a, h3 a, h2{ color: #003451; }

div#contenedor{ width: 930px; margin: 0 auto; }

/*div#contenedor-destacado{ overflow: hidden; }*/

	div#contenido-destacado{ position: relative;}

div#contenido{ clear: both; }

/* ENCABEZADO */

div#encabezado img#encabezado-banner{ background: #8bd3ec; padding: 5px; -webkit-border-radius:10px;  -moz-border-radius: 10px; position: relative; top:-15px; left: 160px; }

/* MENU */

div#menu{float: right; background: white; -moz-border-radius-topleft: 10px; -webkit-border-top-left-radius:10px; -webkit-border-top-right-radius:10px; -moz-border-radius-topright: 10px; box-shadow: 2px 2px 2px #9c9c9c; margin: 0 2px 0 0;}

div#menu ul{padding: 10px;  overflow: hidden; width: 520px;}

	div#menu li{ float: left; }
	
		div#menu li a { display: block; height: 38px;  background: url("images/sprite-1.png"); text-indent: -9999px; }
		
	/* SPRITE ESTADO NORMAL */
	
	div#menu li#uno_btn a{ width: 96px; background-position: 0 0; }
	
	div#menu li#dos_btn a{ width: 88px; background-position: -96px 0; }
	
	div#menu li#tres_btn a{ width: 42px; background-position: -183px 0; }
	
	div#menu li#cuatro_btn a{ width: 42px; background-position: -224px 0; }
	
	div#menu li#cinco_btn a{ width: 42px; background-position: -264px 0; }
	
	div#menu li#seis_btn a{ width: 42px; background-position: -304px 0; }
	
	div#menu li#siete_btn a{ width: 42px; background-position: -346px 0; }
	
	div#menu li#ocho_btn a{ width: 42px; background-position: -387px 0; }
	
	div#menu li#nueve_btn a{ width: 42px; background-position: -428px 0; }
	
	div#menu li#diez_btn a{ width: 42px; background-position: -468px 0; }
	
	/* SPRITE ESTADO HOVER */
	
	div#menu li#uno_btn a:hover{ width: 96px; background-position: 0 -39px; }
	
	div#menu li#dos_btn a:hover{ width: 88px; background-position: -96px 116px; }
	
	div#menu li#tres_btn a:hover{ width: 42px; background-position: -183px 38px; }
	
	div#menu li#cuatro_btn a:hover{ width: 42px; background-position: -224px 38px; }
	
	div#menu li#cinco_btn a:hover{ width: 42px; background-position: -264px 38px; }
	
	div#menu li#seis_btn a:hover{ width: 42px; background-position: -304px 38px; }
	
	
/* CONTENIDO DESTACADO FORM */

div#form{ width: 300px; position: absolute; right: 5px; background: #eff1f5; top: 19px; font-family: Georgia; padding: 10px; font-size: 14px; }

	div#form form{ margin: 0 0 11px 0; }

	div#form h2 { font-size: 33px; padding: 11px 0 17px 0; border-bottom: 4px dotted #003451; }
	
	div#form p { padding: 11px 0 13px 0; color: #000; }
	
	div#form input{ background: #fff url("images/form-input-bg.jpg") no-repeat ; border: none; padding: 4px 0 4px 5px; width: 290px; margin: 3px 0; color: #666666;}
	
	div#form a{ width: 292px; height: 28px; margin: 20px 0; color: #003351;}
	
	div#form a#registrate_btn{ background: url("images/sprite-form.png"); padding: 5px 146px; text-indent: -9999px; /* ver porque no funciona el text-indent luego*/ }
	
	div#form a#registrate_btn:hover{ background-position: 0 30px; }
	
	div#form-bottom{ margin: 0 0 15px; }
	
	div#form-bottom small{ margin: 10px 0 0 0; position: relative; top: 10px; font-size: 12px; color: #000; }
	
/* CONTENIDO DESTACADO TAG CLOUD */

div.tagcloud{ border-bottom: 3px dashed #003451; border-top: 3px dashed #003451; margin: 16px 0 0 0; overflow: hidden; padding: 4px 0 10px}

	div.tagcloud h3{ margin: 10px 0 13px; padding: 13px 0 10px 57px; background: #f2f4f7 url(images/temas-destacados-icon.png) no-repeat 10px 50%; font-size: 30px; font-family: Georgia; border: 1px solid #c7e8fe; color: #003451}
	
	div.tagcloud ul{  overflow: hidden; }
	
	div.tagcloud li{ float: left; margin: 0 0 0 18px; }
	
	div.tagcloud a { font-size: 14px; color: #003451; }
	
	div.tagcloud a.tag-destacado{ font-size: 22px; }
	
/* CONTENIDO DESTACADO PUBLICIDAD */

div.publicidad { width: 728px; margin-left: auto; margin-right: auto; overflow: hidden; }

div.publicidad img{ margin: 20px 0 0 0; }

/* COLUMNAS CONTENEDOR */

div#columnas-contenedor{ margin: 22px 0 25px 0; overflow: hidden;}

div.col{ float: left; margin: 0 5px 0 0; }

div.col h2{ padding: 10px 0 10px 47px; border: 1px solid #c7e8fe; -moz-border-radius: 5px; -webkit-border-radius: 5px; margin: 0 0 10px 0; }

div.col h3{ margin: 0 0 10px 0; }

div.post{ padding: 10px 0; border-bottom: 1px solid #e0e0e0; }

	/* POST TOP */

	div.post div.top p{ background: #e0e0e0; color: black; font-weight: bold; padding: 0 0 0 10px; }
	
	div.post div.top p.meta{  margin: 0 0 10px 0; }
	
		div.post div.top p.meta a{ color: black; }
		
	/* POST BOTTOM */
	
	div.post div.bottom { overflow: hidden; }
	
	div.post div.bottom img{ float: left; margin: 0 10px 0 0;}

/* CONTENIDO COL-1 */

div#col-uno{ width: 362px; }

	div#col-uno h2{ background:#f2f4f7 url("images/titulos-icon-1.png")no-repeat 5px 50%; }

/* CONTENIDO COL-2 */

div#col-dos{ width: 311px; }

	div#col-dos h2{ background:#f2f4f7 url("images/titulos-icon-2.png")no-repeat 5px 50%; }
	
	div#col-dos div#videos{ margin: 0 0 10px 0; }
	
	div#col-dos a{ background: url(images/sprite-col2.png); width: 312px; height: 28px; padding:7px 156px; }
	
	div#col-dos a:hover{ background-position: 0 -27px; }
	
	div#col-dos div#social-plugin{ margin: 15px 0 0 0; }
	
/* CONTENIDO COL-3 */

div#col-tres{ width: 242px; }

	div#col-tres h2{ background:#f2f4f7 url("images/titulos-icon-3.png")no-repeat 5px 50%; }

	div#col-tres ul{ height: 646px; overflow-y: scroll; overflow-x: auto; padding: 0 0 20px 0;}
	
	div#col-tres img{ float: left' }

/* FOOTER */

div#footer{ clear: both; background: #f97b00}

	div#footer p{ color: #fff; }

/*
 * jQuery Nivo Slider v2.5.2
 * http://nivo.dev7studios.com
 *
 * Copyright 2011, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * March 2010
 */
 
 
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
}
/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	background:#000;
	color:#fff;
	opacity:0.8; /* Overridden by captionOpacity setting */
	width:100%;
	z-index:8;
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav a {
	position:relative;
	z-index:9;
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}

/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
	display: block;
}


/*============================*/
/*=== Custom Slider Styles ===*/
/*============================*/

div#slider-contenedor{ background: white; margin: 58px 0 0 0; padding: 20px 10px; border-bottom: 1px solid #9c9c9c; border-right:1px solid #9c9c9c;  }

#slider-wrapper {
    background:url(images/slider.png) no-repeat;
    width:998px;
    height:392px;
    margin:0 auto;
    padding-top:74px;
    margin-top:50px;
}

#slider {
	position:relative;
    width:590px;
    height:246px;
	background:url(images/loading.gif) no-repeat 50% 50%;
}
#slider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
#slider a {
	border:0;
	display:block;
}

.nivo-controlNav {
	position:absolute;
	left:260px;
	bottom:-42px;
}
.nivo-controlNav a {
	display:block;
	width:22px;
	height:22px;
	background:url(images/bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin-right:3px;
	float:left;
}
.nivo-controlNav a.active {
	background-position:0 -22px;
}

.nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background:url(images/arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
}
a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
}
a.nivo-prevNav {
	left:15px;
}

.nivo-caption {
    text-shadow:none;
    font-family: Helvetica, Arial, sans-serif;
    padding: 40px 0;
}
.nivo-caption a { 
    color:red;
    text-decoration:underline;
}

.nivo-caption p{ color: red; font-size: 20px;}

/*====================*/
/*=== Other Styles ===*/
/*====================*/
.clear {
	clear:both;
}
